body{
    background-color: rgb(233, 117, 136);  
}

h1{
    text-align: center;
}

label{
    color:blue;
}

fieldset#nuevaTarea{
    color: white;
    border: solid 2px grey;
    width: 500px;
    margin: 0 auto;
}

fieldset#registro{
     color: white;
    border: solid 2px grey;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.btnRegistro {
    display: inline-block;
    padding: 1px 50px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 2px
        
}
#registro button{
    background-color: black;
    color: white;
    width: 200px;
    height: 25px;
    border-radius: 5px 
}

#registro input{
    display: flex;
    height: 20px;
}

#registro label{
    color: white;
}

#inicioS input{
    display: flex;
    height: 20px;
}

#inicioS label{
    color: white;
}

.btnInicio{
    background-color: black;
    color: white;
    width: 200px;
    height: 25px;
    border-radius: 5px
}

.btnRegistro:hover {
    background-color: #45a049;
}
fieldset#inicioS{
    color: white;
    border: solid 2px grey;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

input#tarea{
    margin-left: 50px;
}

fieldset#listaTarea{
    color: blue;
    border: solid 2px grey;
    width: 500px;
    margin: 0 auto;
}

fieldset#accionesTarea{
    color: blue;
    border: solid 2px grey;
    width: 500px;
    margin: 0 auto;
}

legend{
    color: black;
    
    padding: 3px;
}

table{
    text-align: center;
    color:black;
    width: 100%;
}

.botonEnviar{
    color: blue;
}

.botonReset{
    color:green;
}

.botonBorrar{
    color: red;
}