/* Importar fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilo general del cuerpo */
body {
    background-color: #f0f2f5;  
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del encabezado */
h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Estilo de los labels */
label {
    color: #333;
    font-weight: 700;
    margin-right: 10px;
}

/* Estilo de los fieldsets */
fieldset {
    background-color: #fff;
    border: solid 2px #00ff3c;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo específico para los fieldsets */
fieldset#nuevaTarea, fieldset#accionesTarea {
    margin-top: 20px;
}

/* Estilo de las leyendas */
legend {
    color: #028202;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 700;
}

/* Estilo de las entradas de texto y números */
input[type="text"], input[type="number"], input[type="password"]  {
    width: calc(100% - 22px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Estilo de los botones */
button, input[type="submit"] {
    background-color: #39dc57;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #0e832b;
    transform: scale(1.05);
}

button[type="reset"] {
    background-color: #dc3545;
}

button[type="reset"]:hover {
    background-color: #c82333;
}

.botonBorrar {
    background-color: #ffc107;
    color: white;
}

.botonBorrar:hover {
    background-color: #e0a800;
}

/* Estilo de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    text-align: center;
}

/* Centrado del contenido principal */
main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
